body {
    text-align: center;
    background-color: rgb(255, 255, 255, 5);
}

.imagem {
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 30%;
    border-radius: 20%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*position:absolute ;*/
}

.titulo {
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(141, 240, 240, 0.993);
    margin: 0px;
    font-size: 40px;
    Color: rgb(10, 7, 7);
}

.trajetoria_titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    width: 100%;
    color: rgb(150, 48, 7);
}

.intro {
    height: 300px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 50%;
    align-items: center;
    margin: auto;
}

.intro p {
    padding: 0;
    margin: 0;
}


.feijoada_veg {
    border-radius: 10%;
    width: 200px;
    margin: 40px;
}

.ul li {
    list-style: none;
}

.redes {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    width: 1500px;
    align-items: center;
    margin: auto;
    background-color: rgb(150, 48, 7);
    color: aliceblue;
}

.endereco {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    width: 1500px;
    align-items: center;
    margin: 3px;
    background-color: rgb(161, 80, 4);
    color: aliceblue;
}