* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style do titulo */
header {
    background-color: tomato;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #f1b69b;
    padding: 20px;

}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f0f7ee;
    height: 300px;
    font-size: 20px;
    /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: tomato;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 25px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}


.acai {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acai img {
    border-radius: 10%;
    width: 200px;
    margin: 10px;
}

.fundo_cheesecake {
    width: 28, 5%;
    background-color: #f0f7ee;
}

.cheesecake {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cheesecake img {
    border-radius: 10%;
    width: 200px;
    margin: 10px;
}

.cocada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocada img {
    border-radius: 10%;
    width: 200px;
    margin: 10px;
}